@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: #ebebeb;
}

/* Fonts and smooth*/
html {
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}

.loading-none {
  display: none;
}

.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: lime;
  --clr-alpha: transparrent;
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
header {
  padding: 22px 0;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
}
header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header__container h1 {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
header .header__container .mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .header__container .mode .switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}
header .header__container .mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .header__container .mode .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  transition: 0.4s;
  border-radius: 30px;
}
header .header__container .mode .switch .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}
header .header__container .mode .switch input:checked + .slider {
  background-color: #303136;
}
header .header__container .mode .switch input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
header .header__container .mode .mode-text {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6875rem;
}
@media only screen and (max-width: 500px) {
  header .header__container h1 {
    font-size: 22px;
  }
  header .header__container .mode .switch {
    --width-of-switch: 3.1em;
    --height-of-switch: 1.6em;
    --size-of-icon: 1.2em;
    --slider-offset: 0.2em;
  }
  header .header__container .mode .mode {
    display: none;
  }
}

:root {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

main {
  padding: 50px 0;
}
main nav .nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main nav .nav__container .search {
  position: relative;
}
main nav .nav__container .search .search-icon {
  position: absolute;
  top: 36%;
  left: 13px;
}
main nav .nav__container .search .input {
  height: 3em;
  display: block;
  color: rgb(34, 34, 34);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 0.3em;
  margin: 7px auto;
  outline: none;
  text-align: center;
  width: 240px;
  transition: 0.3s;
}
main nav .nav__container .search .input:hover {
  width: 280px;
}
main nav .nav__container .search .input:focus {
  width: 280px;
}
main nav .nav__container .filter {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  border-radius: 0.3em;
  overflow: hidden;
}
main nav .nav__container .filter select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  flex: 1;
  padding: 0 1em;
  background-image: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  transition: 0.3s;
}
main nav .nav__container .filter select::-ms-expand {
  display: none;
}
main nav .nav__container .filter::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  transition: 0.25s all ease;
  pointer-events: none;
  border-left: 1px solid rgb(158, 158, 158);
}
main nav .nav__container .filter:hover::after {
  color: #f39c12;
}
@media only screen and (max-width: 768px) {
  main nav .nav__container .search .search-icon {
    left: 8px;
    top: 16px;
  }
  main nav .nav__container .search .input {
    height: 2.3em;
    width: 220px;
  }
  main nav .nav__container .search .input:hover {
    width: 220px;
  }
  main nav .nav__container .search .input:focus {
    width: 220px;
  }
  main nav .nav__container .filter {
    height: 2.3em;
    width: 13em;
  }
  main nav .nav__container .filter::after {
    padding: 10px;
  }
}
@media only screen and (max-width: 500px) {
  main nav .nav__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  main nav .nav__container .search {
    width: 100%;
  }
  main nav .nav__container .search .search-icon {
    top: 16px;
  }
  main nav .nav__container .search .input {
    width: 100% !important;
    text-align: start;
    padding: 0px 33px;
  }
}
main #countries-row {
  padding-top: 50px;
}
main #countries-row .container .count span {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #ff9d00;
}
main #countries-row .container .row__container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
main #countries-row .container .row__container .card {
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
main #countries-row .container .row__container .card:hover {
  transform: scale(1.05);
}
main #countries-row .container .row__container .card .top {
  height: 180px;
  overflow: hidden;
}
main #countries-row .container .row__container .card .top img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #countries-row .container .row__container .card .body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
main #countries-row .container .row__container .card .body .name a {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  transition: 0.3s;
}
main #countries-row .container .row__container .card .body .name a:hover {
  text-decoration: underline;
}
main #countries-row .container .row__container .card .body .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}
main #countries-row .container .row__container .card .body .content p {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}
main #countries-row .container .row__container .card .body .content p span {
  color: #111517;
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
@media only screen and (max-width: 1100px) {
  main #countries-row .container .row__container .card .top {
    height: 150px;
  }
}
@media only screen and (max-width: 1000px) {
  main #countries-row .container .row__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 900px) {
  main #countries-row .container .row__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  main #countries-row .container .row__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  main #countries-row .container .row__container .card .top {
    height: 120px;
  }
  main #countries-row .container .row__container .card .body {
    padding: 20px;
  }
  main #countries-row .container .row__container .card .body .content p {
    font-size: 14px;
  }
  main #countries-row .container .row__container .card .body .content p span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  main #countries-row .container .row__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}
@media only screen and (max-width: 470px) {
  main #countries-row .container .row__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  main #countries-row .container .row__container .card {
    margin: 0 20px;
  }
  main #countries-row .container .row__container .card .top {
    height: 170px;
  }
  main #countries-row .container .row__container .card .body {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
  }
  main #countries-row .container .row__container .card .body .name a {
    color: #111517;
    font-style: normal;
    font-weight: 800;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    transition: 0.3s;
  }
  main #countries-row .container .row__container .card .body .name a:hover {
    text-decoration: underline;
  }
  main #countries-row .container .row__container .card .body .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
  }
  main #countries-row .container .row__container .card .body .content p {
    color: #111517;
    font-style: normal;
    font-weight: 800;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
  main #countries-row .container .row__container .card .body .content p span {
    color: #111517;
    font-style: normal;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
main #countries-row .container .pagination {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #countries-row .container .pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #countries-row .container .pagination ul li button {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.432);
  border-top: 1px solid rgba(0, 0, 0, 0.432);
  border-bottom: 1px solid rgba(0, 0, 0, 0.432);
  padding: 10px;
  cursor: pointer;
  color: #111517;
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 40px;
  transition: 0.3s;
}
main #countries-row .container .pagination ul li button:hover {
  background-color: #c7c7c7;
}
main #countries-row .container .pagination ul li .prev {
  width: auto;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.432);
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: #111517;
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.3s;
}
main #countries-row .container .pagination ul li .prev:hover {
  background-color: #c7c7c7;
}
main #countries-row .container .pagination ul li .next {
  width: auto;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.432);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: #111517;
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.3s;
}
main #countries-row .container .pagination ul li .next:hover {
  background-color: #c7c7c7;
}
main #countries-row .container .pagination ul li .active {
  background-color: #0051ff;
  border-left: none;
  color: white;
}
main #countries-row .container .pagination ul li .active:hover {
  background-color: #0051ff;
}
@media only screen and (max-width: 768px) {
  main #countries-row .container .pagination ul {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  main #countries-row .container .pagination ul li button {
    padding: 5px;
    font-size: 12px;
  }
  main #countries-row .container .pagination ul li .prev,
  main #countries-row .container .pagination ul li .next {
    padding: 5px;
    font-size: 14px;
  }
}

main #country .country__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 50px;
}
main #country .country__container #back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #111517;
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  cursor: pointer;
}
main #country .country__container #back svg {
  transition: 0.5s;
  width: 18px;
}
main #country .country__container #back:hover svg {
  transform: translateX(-5px);
}
main #country .country__container .country-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
main #country .country__container .country-details .flag {
  width: 550px;
}
main #country .country__container .country-details .flag img {
  width: 100%;
  border-radius: 10px;
}
main #country .country__container .country-details .about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
main #country .country__container .country-details .about .name {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  line-height: 3.375rem;
}
main #country .country__container .country-details .about .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
main #country .country__container .country-details .about .info li p {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6875rem;
}
main #country .country__container .country-details .about .info li span {
  color: #111517;
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
main #country .country__container .country-details .about .borders {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
main #country .country__container .country-details .about .borders p {
  color: #111517;
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6875rem;
}
main #country .country__container .country-details .about .borders ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
main #country .country__container .country-details .about .borders ul li button {
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px 5px;
  border: none;
  color: #111517;
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-size: 15px;
}
@media only screen and (max-width: 1030px) {
  main #country .country__container .country-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
  }
  main #country .country__container .country-details .flag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main #country .country__container .country-details .flag img {
    width: 500px;
  }
  main #country .country__container .country-details .about .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
@media only screen and (max-width: 500px) {
  main #country .country__container .country-details .flag img {
    width: 100%;
  }
  main #country .country__container .country-details .about .name {
    font-size: 25px;
  }
  main #country .country__container .country-details .about .borders {
    gap: 10px;
    flex-wrap: wrap;
  }
  main #country .country__container .country-details .about .borders ul {
    gap: 10px;
  }
}

.dark-mode {
  background: #202c36;
}
.dark-mode header {
  background-color: #2b3844;
}
.dark-mode header .header__container h1 {
  color: white;
}
.dark-mode header .header__container .mode .mode-text {
  color: white;
}
.dark-mode header .header__container .mode .switch input:checked + .slider {
  background: #42434b !important;
}
.dark-mode header .header__container .mode .switch input:checked + .slider:before {
  background: #42434b !important;
}
.dark-mode main nav .nav__container .search .search-icon path {
  fill: white !important;
}
.dark-mode main nav .nav__container .search input {
  background-color: #2b3844;
  color: white;
}
.dark-mode main nav .nav__container .search input::-moz-placeholder {
  color: white;
}
.dark-mode main nav .nav__container .search input::placeholder {
  color: white;
}
.dark-mode main nav .nav__container .filter select {
  background-color: #2b3844;
  color: white;
}
.dark-mode main nav .nav__container .filter::after {
  color: white;
}
.dark-mode main #countries-row .container .row__container .card {
  background-color: #374757;
}
.dark-mode main #countries-row .container .row__container .card * {
  color: white !important;
}
.dark-mode main #countries-row .container .pagination ul li button {
  background-color: #374757;
  color: white;
}
.dark-mode main #countries-row .container .pagination ul li button:hover {
  background-color: #4a6076;
}
.dark-mode main #countries-row .container .pagination ul li .active {
  background-color: #0051ff;
}
.dark-mode main #country .country__container #back {
  background: #2b3844;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  color: white;
}
.dark-mode main #country .country__container #back svg path {
  fill: white;
}
.dark-mode main #country .country__container .country-details .about * {
  color: white !important;
}
.dark-mode main #country .country__container .country-details .about .borders ul li button {
  background: #2b3844;
  box-shadow: 0px 0px 4px 1px rgba(17, 21, 23, 0.25);
}