// ---------------- Main colors
$light-mode: #ebebeb;
$dark-mode: #202c36;
$dark-mode-for-elements: #2b3844;
$text-color: #111517;
$grayscale: #848484;

// ---------------- Pallete
$success: #008c49;
$info: #1cb9fc;
$warning: #fca21c;
$error: #d80000;
